
@{
    ViewData["Title"] = "AboutUs";
}

<h1 class="text-center" style="margin-bottom: 30px">About us</h1>

<p class="text-justify">
    The chain of ABA book shops has invented in March 2021. under slogan "Eruption of ideas".<br><br>

    We made this site to test our knowledge about making websites, and after finishing we planed to sell it to earn money for our scholarship, but when we finished the site we have decided to take the site for us and open our business. A few months later we were positioned as one of the biggest online selling shop in the region. Now we even have a shop in street Knez Mihailova 21, in Belgrade. <br><br>

    The base of our offer are books of all Serbian writers. We have led with an idea to give readers the big choice of books on one place.<br><br>

    Things that make us different from other book shops are a big choice of books on foreign languages of type architecture, design, programming, graphic design.<br><br>
    ABA book shop will try to help you to live richer, healthier, more educated, and more inspired.
</p>