
@{
    ViewData["Title"] = "ContactUs";
}





<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-6 col-lg-offset-3" style="margin: auto;">

    <div class="heading-wrapper">
        <div class="title"><h1><span>Contact</span></h1></div>

    </div>
    <form role="form" id="contact_form" class="contact-forma contact-form-2" method="POST" action="" novalidate="">
        <div class="row">

            <div class="col-xs-12 col-md-6">
                <div class="form-group name">
                    <label for="name">First name and Last name :</label>
                    <input type="text" name="name" id="name" class="form-control" value="" required="" data-parsley-id="3869">
                    <ul class="validation-errors-list list-unstyled" id="parsley-id-3869"></ul>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="form-group email">
                    <label for="email">Email address:</label>
                    <input type="email" name="email" id="email" class="form-control" value="" required="" data-parsley-id="2322">
                    <ul class="validation-errors-list list-unstyled" id="parsley-id-2322"></ul>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="form-group phone">
                    <label for="phone">Phone number:</label>
                    <input type="tel" pattern="^[0-9 ()+-]+$" name="phone" id="phone" class="form-control" value="" required="" data-parsley-id="8963">
                    <ul class="validation-errors-list list-unstyled" id="parsley-id-8963"></ul>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="form-group phone">
                    <label for="postcode">Post code:</label>
                    <input type="number" name="postcode" id="postcode" class="form-control" value="" required="" data-parsley-id="1572">
                    <ul class="validation-errors-list list-unstyled" id="parsley-id-1572"></ul>
                </div>
            </div>


            <div class="col-xs-12 col-md-6">
                <div class="form-group subject-mail">
                    <label for="subject">Reason:</label>
                    <div class="clearfix"></div>
                    <div class="styled-select">
                        <select name="subject" id="subjectMail" data-parsley-id="2886">
                            <option value="">Choose...</option>

                            <!-- <option value="Moja porudžbina">Moja porudžbina</option>
                            <option value="Izmena porudžbine">Izmena porudžbine</option>
                            <option value="Otkazivanje porudžbine">Otkazivanje porudžbine</option>
                            <option value="Reklamacije i oštećenja">Reklamacije i oštećenja</option>
                            <option value="Plaćanje">Plaćanje</option>
                            <option value="Moj nalog">Moj nalog</option>
                            <option value="Ostalo">Ostalo</option> -->

                        </select>
                        <ul class="validation-errors-list list-unstyled" id="parsley-id-2886"></ul>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-md-6">
                <div class="form-group phone">
                    <label for="orderNumber">Text title:</label>
                    <input type="text" name="numberOrder" id="numberOrder" class="form-control" value="" data-parsley-id="8795">
                    <ul class="validation-errors-list list-unstyled" id="parsley-id-8795"></ul>
                </div>
            </div>

            <div class="col-xs-12 col-md-12">
                <div class="form-group textarea-group">
                    <label for="message">Comment:</label>
                    <textarea class="form-control" rows="4" id="message" name="message" data-parsley-id="5055"></textarea>
                    <ul class="validation-errors-list list-unstyled" id="parsley-id-5055"></ul>
                </div>
            </div>





            <div class="col-xs-12 col-md-12">
                <div class="form-group button">
                    <button type="submit" id="contact_submit" name="contact_submit" class="btn btn-success confirm-loader"><span>Send</span></button>
                </div>
            </div>
        </div>
    </form>

</div>
