/* Carousel */

.slick-prev:before {
    color: red;
}

.slick-next:before {
    color: red;
}

.slider {
    margin: 3rem 0;
}

.details {
    display: flex;
    justify-content: center;
}

.catousel-item h2, .catousel-item p {
    color: darkgrey;
    text-align: center;
}

.catousel-item h1 {
    color: red;
    text-align: center;
}

.catousel-item img {
    height: 16.5625rem;
    width: 10.9375rem;
}

h1 {
    text-align: center;
}
