* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 90%;
    margin: auto;
    margin-top: 1.8rem;
}
/* HEADER */

.logo img {
    margin: 0 auto;
    display: block;
    width: 100%;
}

#wish-cart {
    display: flex;
    justify-content: flex-end;
}

#wish_number, #cart_number {
    margin-left: 10px;
}

/* NAVBAR */

header > div {
    margin: auto;
}

header form {
    display: flex;
    width: 100%;
}


@media only screen and (max-width: 768px) {
    header {
        display: flex;
    }

    #wish-cart {
        order: 1;
    }

    body {
        width: 90%;
        margin: auto;
        margin-top: 1.8rem;
    }

    header div div form {
        width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width: 1023px) {
    .logo img {
        width: 30%;
    }
}

#footer {
    bottom: 0;
    width: 100%;
    /*text-align: center;*/
}
/*
    #footer li {
        list-style-type: none;
    }
*/