* {
    margin: 0;
    padding: 0;
}

body {
    width: 90%;
    margin: auto;
    margin-top: 1.8rem;
}
/* HEADER */

.logo img {
    margin: 0 auto;
    display: block;
}

#wish-cart {
    display: flex;
    justify-content: flex-end;
}

#wish_number, #cart_number {
    margin-left: 10px;
}

.logo img {
    width: 100%;
}

header > div {
    margin: auto;
}


@media only screen and (max-width: 768px) {
    body {
        width: 90%;
    }

    header {
        display: flex;
    }

    #wish-cart {
        order: 1;
    }

    body {
        width: 90%;
        margin: auto;
        margin-top: 1.8rem;
    }

    header div div form {
        width: 80%;
        margin: auto;
    }
}
@media only screen and (max-width: 1024px) {
    .logo img {
        width: 30%;
    }
}

    /* NAVBAR */



    header form {
        display: flex;
        width: 100%;
    }
