.list-group {
    padding: 15px;
    overflow: hidden;
    margin: 0 auto;
}

.list-group-item {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    cursor: pointer;
}

    .list-group-item img {
        height: 270px;
        width: 100%;
        object-fit: cover;
    }

    .list-group-item .text {
        text-align: center;
    }

.text h3 {
    font-size: 24px;
}

.text p {
    font-size: 18px;
}

.btn-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%
}

.description {
    position: absolute;
    top: 0;
    opacity: 0;
    height: 100%;
    left: 0;
    background: rgba(191,191,191,.8);
}

    .description .d-text {
        padding: 15px;
    }

.d-text h3 {
    font-size: 24px;
}

.d-text p {
    font-size: 16px;
}

.list-group-item:hover .description {
    opacity: 1;
    width: 100%;
}

@media only screen and (min-width: 768px) {

    .list-group-item, .content {
        height: 415px;
    }

    .list-group {
        width: 50%;
    }
}
