/* BOOKS */


/*body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.list-group {
    padding: 15px;
    overflow: hidden;
    /* width: 75%; */
    /* display: flex; */
    margin: 0 auto;
}

.list-group-item {
    border: 1px solid black;
    /* background: ; */
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgb(160, 18, 18);
    /* width: 30%; */
    /* margin: 15px; */
    position: relative;
    cursor: pointer;
}

    .list-group-item img {
        width: 100%;
        object-fit: cover;
    }

    .list-group-item .text {
        text-align: center;
    }

.text h3 {
    font-size: 24px;
}

.text p {
    font-size: 18px;
}

.description {
    position: absolute;
    top: 0;
    opacity: 0;
    background: #000;
    transform: all 1s ease;
    height: 100%;
    left: 0;
    color: #fff;
}

.description .d-text {
    padding: 15px;
}

.d-text h3 {
    font-size: 24px;
}

.d-text p {
    font-size: 16px;
}

.list-group-item:hover .description {
    opacity: 1;
    width: 100%;
}
