@model SignUpViewModel


<h2>Please enter your code for verification</h2>


<form method="post" asp-action="Verification" asp-controller="Customer">

    
    <input type="number" value="Code" name="code" id="nesto"/>

    <input type="text" name="Email" value="@Model.Email" style="display:none"/>
    <input type="text" name="VerificationCode" value="@Model.VerificationCode" style="display:none"/>

    <input type="submit" value="Verify">


    <a href="@Url.Action("SendCodeAgain", "Customer", new { Email = Model.Email, VerificationCode = Model.VerificationCode 
        })" class="btn btn-dark">Send code again</a>
   
</form>

