@model string 


<h2>Please enter your code for verification</h2>


<form method="post" asp-action="Verification" asp-controller="Customer">

    <input type="number"  name="code" />

    <input type="text" name="Email" value="@Model" style="display:none" />

    <input type="submit" value="Verify">

    <label class="code"></label>


</form>

<button onclick="SendCode(this.value)" value="@Model"  class="btn btn-dark">Send code again</button>


@section JavaScript{

    <script>


        function SendCode(email) {

                $.ajax({
                url: '@Url.ActionLink("SendCodeAgain", "Customer")',
                data: { email:email},
                method: "post",
                success: function () {
                  alert("Code sent")
                },
                error: function () {
                alert("Error!");
                }
                });



        }

        @* function SendCode(email) {

                $.ajax({
                url: '@Url.ActionLink("SendCodeAgain", "Customer")',
                data: { email:email},
                method: "post",
                success: function () {
                 
                },
                error: function () {
                    $(".code").append("code is not good")                }
                });
        }*@



    </script>
}

