@model ForgotPasswordViewModel

<div class="col-md-6 login-form-1">
    <h3>Reset Password</h3>
    <form method="post" asp-controller="Customer" asp-action="ResetPassword">


        <div id="signUp">

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Your Password " asp-for="Password" name="Password" />

                <small class="invalid-feedback" id="emptyPassword"> This field must not be empty</small>
                <small class="invalid-feedback" id="password"> Password must contain at least number, upper and lower letter, one special character and at least 6 length</small>
            </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Repeat Password " asp-for="ResetPassword" name="ConfirmPassword" />

            <small class="invalid-feedback" id="emptyConfirmPassword"> This field must not be empty</small>
            <small class="invalid-feedback" id="confirmPassword"> Passwords don't match</small>
        </div>

        </div>
        <div class="form-group">
            <input type="text" value="@Model.Email" asp-for="Email" style="display:none" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Submit" id="ResetPassword"/>
        </div>

    </form>
</div>

