@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
}



<div class="styled-select select" style="margin-bottom: 20px;">
    <select onchange="customerChange();" id="comboBox">
        <option value="Natural Person">Natural Person</option>
        <option value="Legal entity">Legal entity</option>

    </select>


    <form method="post" asp-controller="Customer" asp-action="Create">

        <div class="row" id="div1" style="margin-bottom: 20px;">
            <div class="col-xs-6 col-md-6">
                <input type="text" class="form-control input-lg" placeholder="First Name" asp-for="FirstName" />
            </div>
            <div class="col-xs-6 col-md-6">
                <input type="text" class="form-control input-lg" placeholder="Last Name" asp-for="LastName" />
            </div>
        </div>


        <div class="row" id="div2" style="display:none" style="margin-bottom: 20px;">
            <div class="col-xs-6 col-md-6">
                <input type="text" class="form-control input-lg" placeholder="Company name" asp-for="CompanyName" />
            </div>
            <div class="col-xs-6 col-md-6">
                <input type="text" class="form-control input-lg" placeholder="TIN" asp-for="TIN" />
            </div>
        </div>



        <div class="row " style="margin-bottom: 20px;">
            <div class="col-xs-6 col-md-6">
                <input type="text" class="form-control input-lg" placeholder="Email" asp-for="Email" />
            </div>
            <div class="col-xs-6 col-md-6">
                <input type="text" class="form-control input-lg" placeholder="Phone Number" asp-for="PhoneNumber" />
            </div>
        </div>

        <div class="row " style="margin-bottom: 20px;">
            <div class="col-xs-6 col-md-6">

                <input type="text" class="form-control input-lg" placeholder="city name" asp-for="Address.CityName" />
            </div>
            <div class="col-xs-6 col-md-6">
                <input type="number" class="form-control input-lg" placeholder="ptt" asp-for="Address.PTT" />
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-xs-6 col-md-6">
                <input type="text" class="form-control input-lg" placeholder="street name" asp-for="Address.StreetName" />
            </div>
            <div class="col-xs-6 col-md-6">
                <input type="text" class="form-control input-lg" placeholder="street number" asp-for="Address.StreetNumber" />
            </div>
        </div>


        <div class="row marginaForma" style="margin-bottom: 20px;">
            <div class="col-xs-6 col-md-6">
                <input type="password" class="form-control input-lg" placeholder="Password" asp-for="Password" />
            </div>
            <div class="col-xs-6 col-md-6">
                <input type="password" class="form-control input-lg" placeholder="Repeat password" asp-for="RepeatPassword" />
            </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
            Create my account
        </button>

    </form>



</div>

