@model List<Book>
@section Style{
    <link href="~/css/pagination.css" rel="stylesheet" />
}
@section Pagination{
    <script src="~/js/Pagination.js"></script>
}
<div class="container" style="margin-top: 35px;">
    <div class="row">

        <div class="col-lg-10 col-md-12 col-sm-12">

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li id='previous-page' class="page-item-arrow">
                        <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>


                </ul>
            </nav>

            <div id="loop">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="row">
                        @for (int j = 0; j < 3; j++)
                        {
                            i++;
                            @if (i < Model.Count)
                            {
                                <div class="list-group col-lg-3">
                                    <div class="list-group-item active">
                                        <div class="content">
                                            <img src="@("~/img/" + Model[i].Image)" asp-append-version="true" alt="Alternative Text">
                                            <div class="text">
                                                <p>@Model[i].Price$</p>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <div class="d-text">
                                                <h3>Title</h3>
                                                <p>
                                                    @Model[i].Title
                                                </p>
                                                <h4>Writer</h4>
                                                <p> @Model[i].Price</p>
                                                <button>Cart</button>
                                                <button>Wish list</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="list-group col-lg-3">
                                </div>
                            }
                        }
                        @{i--;}
                    </div>
                }
            </div>



        </div>
        <div class="col-lg-2">
            FILTER
        </div>

    </div>
</div>